@model Ciamajda.CategoryExpense

@{
    ViewData["Title"] = "Create";



}
<div>
    <h4 style="text-align: center">
        Edytój kategorie
    </h4>
    <hr />
</div>
<div align="center">
    @using (Html.BeginForm("Edit", "CategoryExpense", FormMethod.Post))
    {
        <table class="table">
            <tr>
                <td> @Html.LabelFor(model => model.Name) </td>
                <td>@Html.TextBoxFor(model => model.Name) </td>
                <td>@Html.ValidationMessageFor(model => model.Name, "", new { @style = "color:red" }) </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Description) </td>
                <td>@Html.TextAreaFor(model => model.Description) </td>
                <td></td>
            </tr>
            <tr>
                <td><input type="submit" value="Save" class="btn btn-default" />
                    <a asp-action="Index" class="btn btn-default" >Powrót</a></td>
                <td></td>
                <td></td>
            </tr>
            @Html.EditorFor(model => model.UserId)
        </table>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    }
</div>

<div>
    
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
