@model Ciamajda.Models.ViewModels.CategoryExpenseViewModel
    
<div>
    <h4 style="text-align: center">
        Kategorie wydatków
        <a asp-action="Create" title="Dodaj nową kategorię" style="float: right" class="fa fa-plus"></a>
    </h4>
    <hr />
</div>
<div class="table-responsive cart_info">
    <table class="table table-condensed">
        <thead>
            <tr>
                <td>Nazwa</td>
                <td style="width: 60%;">Opis</td>
                <td style="width: 20%;">Akcje</td>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.CategoryExpenselist != null)
            {
                @foreach (var category in ViewBag.CategoryExpenselist)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>
                            <a href="@Url.Action("Edit", "CategoryExpense", new { id = @category.Id })" text="Edytuj" class="btn btn-primary fa fa-pencil-square-o"></a>
                            <a href="@Url.Action("Delete", "CategoryExpense", new { id = @category.Id })" text="Usuń" class="btn btn-primary fa fa-times"></a>
                        </td>
                    </tr>

                }
            }

        </tbody>
    </table>
</div>

