@model Ciamajda.Models.ViewModels.ExpenseViewModel
<style type="text/css">
    table.sortable thead:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
        content: " \25B4\25BE"
    }

    table.sortable tbody tr:nth-child(2n) td {
        background: #fff
    }

    table.sortable tbody tr:nth-child(2n+1) td {
        background: #e6faff;
    }
</style>
    <div>
        <a asp-action="Create">Dodaj wydatek</a>
    </div>
    <div class="table-responsive cart_info">
       
            <table class="table table-condensed sortable">
                <thead>
                    <tr>
                      <td>Tytul</td>
                      <td>Kwota</td>
                      <td>Waluta</td>
                      <td>Konto</td>
                      <td>Kategoria</td>
                      <td>Miejsce</td>
                      <td id="czas">Czas</td>
                      <td>Opis</td>
                      <td>Edytuj</td>
                      <td>Usun</td>
                    </tr>
                </thead>
                <tbody>
                @if (ViewBag.expenselist != null)
                {
                    @foreach (var expense in ViewBag.expenselist)
                    {
                        
                    <tr>
                        <td class='@(@expense.Time>= DateTime.Now) '>@expense.Title</td>
                        <td class='@(@expense.Time>= DateTime.Now) ' style="text-align:right;">@expense.Amount</td>
                        <td class='@(@expense.Time>= DateTime.Now) ' >@expense.CurrencyCurrency</td>
                        <td class='@(@expense.Time>= DateTime.Now) ' >@ViewBag.expenseviewmodel.GetAccountName(@expense.AccountId)</td>
                        <td class='@(@expense.Time>= DateTime.Now) ' >@ViewBag.expenseviewmodel.GetCategoryName(@expense.CategoryId)</td>
                        <td class='@(@expense.Time>= DateTime.Now) '>@ViewBag.expenseviewmodel.GetPlaceName(@expense.Place)</td>

                        @if (expense.Time >= DateTime.Now)
                        {
                            <td class="True" style="color:red;">@expense.Time.ToString("yyyy-MM-dd")</td>
                        }
                        else
                        {
                           <td>@expense.Time.ToString("yyyy-MM-dd")</td>
                        }

                        <td  class='@(@expense.Time>= DateTime.Now) '>@expense.Description</td>
                        <td  class='@(@expense.Time>= DateTime.Now) '><a href="@Url.Action("Edit", "Expense", new { id = @expense.Id })"class="btn btn-primary btn-lg"><i class="fa fa-pencil-square-o"></i></a></td>
                        <td  class='@(@expense.Time>= DateTime.Now) '><a href="@Url.Action("Delete", "Expense", new { id = @expense.Id })"class="btn btn-primary btn-lg"><i class="fa fa-times"></i></a></td>
                    </tr>

                    }
                }

                </tbody>
            </table>
        </div>

<script>
    $(document).ready(function () {
        $('.True').css('background-color', 'lightGray');
    });
</script>
    