@model Ciamajda.Models.ViewModels.ExpenseViewModel
<style type="text/css">
    table.sortable thead:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
        content: " \25B4\25BE"
    }

    table.sortable tbody tr:nth-child(2n) td {
        background: #fff
    }

    table.sortable tbody tr:nth-child(2n+1) td {
        background: #e6faff;
    }
</style>
    <div>
        <a asp-action="Create">Dodaj wydatek</a>
    </div>
    <div class="table-responsive cart_info">
       
            <table class="table table-condensed sortable">
                <thead>
                    <tr>
                      <td>Tytul</td>
                      <td>Kwota</td>
                      <td>Waluta</td>
                      <td>Konto</td>
                      <td>Kategoria</td>
                      <td>Miejsce</td>
                      <td>Czas</td>
                      <td>Opis</td>
                      <td>Edytuj</td>
                      <td>Usun</td>
                    </tr>
                </thead>
                <tbody>
                @if (ViewBag.expenselist != null)
                {
                    @foreach (var expense in ViewBag.expenselist)
                    {<tr>
                    <td>@expense.Title</td>
                    <td>@expense.Amount</td>
                    <td>@expense.CurrencyCurrency</td>
                    <td>@ViewBag.expenseviewmodel.GetAccountName(@expense.AccountId)</td>
                    <td>@ViewBag.expenseviewmodel.GetCategoryName(@expense.CategoryId)</td>
                    <td>@ViewBag.expenseviewmodel.GetPlaceName(@expense.Place)</td>

                    @if (expense.Time >= DateTime.Now)
                    {
                        <td style="color:red;">@expense.Time</td>
                    }
                    else
                    {
                       <td>@expense.Time</td>
                    }

                    <td>@expense.Description</td>
                    <td><a href="@Url.Action("Edit", "Expense", new { id = @expense.Id })"class="btn btn-primary btn-lg"><i class="fa fa-pencil-square-o"></i></a></td>
                    <td><a href="@Url.Action("Delete", "Expense", new { id = @expense.Id })"class="btn btn-primary btn-lg"><i class="fa fa-times"></i></a></td>
                   
                    </tr>

                    }
                }

                </tbody>
            </table>
        </div>
    