@model Ciamajda.Account;

<h2>Dodaj konto</h2>
<div align="center">
    @using (Html.BeginForm("create", "OurAccount", FormMethod.Post))
    {
        <table class="table">


            <tr>
                <td> @Html.LabelFor(model => model.Name) </td>
                <td>@Html.TextBoxFor(model => model.Name) </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Type) </td>
                <td>@Html.TextBoxFor(model => model.Type) </td>
            </tr>
                    @Html.EditorFor(model => model.CreationDate)
                    @Html.EditorFor(model => model.DiscardDate)
                    @Html.EditorFor(model => model.UserId)


            <tr>
                <td><input type="submit" value="Save" class="btn btn-default" /></td>
            </tr>
        </table>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



