@model Ciamajda.Models.ViewModels.AccountViewModel;
@{
    ViewData["Title"] = "Index";
}
<div>
    <h4 style="text-align: center">
        Twoje konta
        <a asp-action="Create" title="Dodaj nowe konto" style="float: right" class="fa fa-plus"></a>
    </h4>
    <hr />
</div>
@if (ViewBag.accountlist != null)
{
    <div class="table-responsive cart_info">

        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>Nazwa</td>
                    <td>Typ</td>
                    <td>Numer</td>
                    <td>Saldo</td>
                    <td>Data utworzenia</td>
                    <td>Akcje<td>
                </tr>
            </thead>
            <tbody>

                @foreach (var account in ViewBag.accountlist)
                {
                    <tr>
                        <td>@account.Name</td>
                        <td>@account.Type</td>
                        <td>@account.Number</td>
                        <td>@account.Balance</td>
                        <td>@account.CreationDate.ToString("yyyy-MM-dd")</td>
                        <td>
                            <a href="@Url.Action("Edit", "ouraccount", new { id = @account.Id })" title="Edytuj" class="btn btn-primary fa fa-pencil-square-o"></a>
                            <a href="@Url.Action("Delete", "ouraccount", new { id = @account.Id })" title="Usuń" class="btn btn-primary fa fa-times"></a>
                            <a href="@Url.Action("Details", "OurAccount", new { id = @account.Id })"  title="Szczegóły" class="btn btn-primary fa fa-arrow-right"></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
}
