@model Ciamajda.Models.ViewModels.IncomeViewModel
<style type="text/css">

    table.sortable thead:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
        content: " \25B4\25BE"
    }

    table.sortable tbody tr:nth-child(2n) td {
        background: #fff
    }

    table.sortable tbody tr:nth-child(2n+1) td {
        background: #e6faff;
    }
</style>
<div>
    <a asp-action="Create">Dodaj przychod</a>
</div>
<div class="table-responsive cart_info">

    <table class="table table-condensed sortable">
        <thead>
            <tr>
                <td>Tytul</td>
                <td>Kwota</td>
                <td>Waluta</td>
                <td>Konto</td>
                <td>Kategoria</td>
                <td>Czas</td>
                <td>Opis</td>
                <td>Edytuj</td>
                <td>Usun</td>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.incomelist != null)
            {
            @foreach (var income in ViewBag.incomeList)
            {
                    <tr>
                        <td>@income.Title</td>
                        <td>@income.Amount</td>
                        <td>@income.CurrencyCurrency</td>
                        <td>@ViewBag.incomeviewmodel.GetAccountName(@income.AccountId)</td>
                        <td>@ViewBag.incomeviewmodel.GetCategoryName(@income.CategoryId)</td>                      
                        @if (income.Time >= DateTime.Now)
                        {
                            <td style="color:red;">@income.Time.ToString("yyyy-MM-dd")</td>
                        }
                        else
                        {
                            <td>@income.Time.ToString("yyyy-MM-dd")</td>
                        }
                        <td>@income.Description</td>
                        <td><a href="@Url.Action("Edit", "income", new { id = @income.Id })" class="btn btn-primary btn-lg"><i class="fa fa-pencil-square-o"></i></a></td>
                        <td><a href="@Url.Action("Delete", "income", new { id = @income.Id })" class="btn btn-primary btn-lg"><i class="fa fa-times"></i></a></td>

                    </tr>

            }
            }

        </tbody>
    </table>
</div>
