@model Ciamajda.Models.ViewModels.PlaceViewModel

<div>
    <h4 style="text-align: center">
        Miejsca
        <a asp-action="Create" title="Dodaj nowe miejsce" style="float: right" class="fa fa-plus"></a>
    </h4>
    <hr />
</div>
<div class="table-responsive cart_info">

    <table class="table table-condensed">
        <thead>
            <tr>
                <td>Nazwa</td>
                <td>Ulica</td>
                <td>Miasto</td>
                <td>Nr budynku</td>
                <td>Akcje</td>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Placelist != null)
            {
                @foreach (var Place in ViewBag.Placelist)
                {
                    <tr>
                        <td>@Place.Name</td>
                        <td>@Place.Street</td>
                        <td>@Place.City</td>
                        <td>@Place.Number</td>

                        <td>
                            <a href="@Url.Action("Edit", "Place", new { id = @Place.Id })" class="btn btn-primary fa fa-pencil-square-o" title="Edytuj"></a>
                            <a href="@Url.Action("Delete", "Place", new { id = @Place.Id })" class="btn btn-primary fa fa-times" title="Usuń"></a>
                        </td>

                    </tr>

                }
            }

        </tbody>
    </table>
</div>
